[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
ghapi = {git = "git://github.com/jrieke/ghapi"}
requests = "==2.24.0"
bokeh = "==2.2.3"
python-dotenv = "==0.15.0"
streamlit = "*"
watchdog = "*"

[dev-packages]
black = "*"

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
